@use "../ThemeProvider/variables" as theme-variable;

.account-section-bg {
  background: url("../../assets/login/LogInBG.jpg"), rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.account-section-bg-log-in {
  background: theme-variable.$main-background-color;
}

//Web Logo
.account-section-web-logo {
  margin-top: 0.7em;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.account-section-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; //In order to set space between two vertical elements

  .account-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 6em;
    padding: 2em;
    width: min(80%, 30em);
    margin-bottom: 2em;
    border-radius: 15px;

    //Account Section Title
    .account-section-title {
      color: theme-variable.$white-font-color;
      align-self: center;
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      margin-bottom: 1em;
      text-align: center;
    }

    @supports not (font-size: clamp(1rem, 1.5vw, 1.5rem)) {
      .account-section-title {
        font-size: 1rem;
      }
    }

    //Existing Account Title
    .account-section-existing-account {
      color: theme-variable.$white-font-color;
      margin-top: 2em;
      font-size: clamp(0.85rem, 1vw, 1rem);
      align-self: center;
      text-align: center;
    }

    @supports not (font-size: clamp(0.85rem, 1vw, 1rem)) {
      .account-section-existing-account {
        font-size: 0.85rem;
      }
    }

    //Link to login
    .account-section-link-to-login {
      color: theme-variable.$red-font-color;
      text-align: center;
      align-self: center;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      font-size: 1rem;

      &:hover {
        color: theme-variable.$red-font-color-hover;
      }
    }

    //Recaptcha Info
    .account-section-recaptcha {
      color: theme-variable.$white-font-color;
      margin-top: 2em;
      align-self: center;
      text-align: center;
    }
  }
}

@media (min-width: theme-variable.$media-query-default-value) {
  .account-section-wrapper {
    .account-section-content {
      //Account Section Title
      .account-section-title {
        align-self: flex-start;
      }

      //Existing Account Title
      .account-section-existing-account {
        align-self: flex-start;
        text-align: left;
      }

      //Link to create new account
      .account-section-link-to-login {
        color: theme-variable.$red-font-color;
        align-self: flex-start;
      }

      //Recaptcha Info
      .account-section-recaptcha {
        color: theme-variable.$white-font-color;
        margin-top: 2em;
        align-self: flex-start;
        text-align: left;
      }
    }
  }
}
