@use "../ThemeProvider/variables" as theme-variable;

.landing-page-bg {
  background: theme-variable.$main-background-color;
}

.landing-page-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}
