@use "../ThemeProvider/variables" as theme-variable;

/* The overlay effect - lays on top of the container and over the image */
.tv-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  color: #ffffff;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;

  .tv-vote-average {
    font-size: 1.3rem;
  }

  .tv-info-icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: color 0.35s ease-in-out;

    &:hover {
      color: theme-variable.$white-font-color-hover;
    }
  }
}

/* When you mouse over the container, fade in the overlay title */
.tv-container:hover .tv-overlay {
  opacity: 1;
}
