@use "../../ThemeProvider/variables" as theme-variable;

/* Container needed to position the overlay. Adjust the width as needed */
.search-tv-container {
  position: relative;
  width: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.search-tv-overlay {
  position: absolute;
  bottom: 0;
  background: theme-variable.$background-linear-gradient; /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-tv-vote-average {
    font-size: 1.3rem;
  }

  .search-tv-info-icon {
    font-size: 1.7rem;
    cursor: pointer;
    transition: color 0.35s ease-in-out;

    &:hover {
      color: theme-variable.$white-font-color-hover;
    }
  }
}

/* When you mouse over the container, fade in the overlay title */
.search-tv-container:hover .search-tv-overlay {
  opacity: 1;
}
