@use "../../ThemeProvider/variables" as theme-variable;

.hero-section-bg {
  background: url("../../../assets/landingpage/LandingPageBG.jpg"),
    rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 70px black;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  height: 40em;
  //   position: absolute;
  // top: 0;
  position: relative;
  top: -6.5em;
  width: 100%;
  z-index: -1;
}

.hero-section-gradient-shadow {
  display: block;
  width: 100%;
  height: 10em;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(14, 14, 14, 0.6),
    theme-variable.$main-background-color
  );
  position: absolute;
  top: 30em;
  z-index: 2;
}

.hero-section-wrapper {
  position: absolute;
  width: 100%;
  top: 6.5em;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .hero-section-titles {
    color: theme-variable.$white-font-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: clamp(2.5rem, 3vw, 3rem);
      line-height: 1.2em;
      margin: 0 1em 0 1em;
      width: min(90%, 10em);
    }

    @supports not (font-size: clamp(2.5rem, 3vw, 3rem)) {
      h1 {
        font-size: 2.5rem;
      }
    }

    h2 {
      font-size: clamp(1.5rem, 2vw, 2rem);
      margin: 0.5em 1em 0 1em;
    }

    @supports not (font-size: clamp(1.5rem, 2vw, 2rem)) {
      h2 {
        font-size: 1.6rem;
      }
    }

    p {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      margin: 0.7em 1em 0 1em;
      width: min(90%, 30em);
    }

    @supports not (font-size: clamp(1rem, 1.5vw, 1.5rem)) {
      p {
        font-size: 1.1rem;
      }
    }
  }

  .hero-section-button-wrapper {
    margin-top: 1.5em;
  }
}

@media (min-width: theme-variable.$media-query-medium-value) {
  .hero-section-bg {
    height: 45em;
    box-shadow: inset 0 0 300px black;
  }

  .hero-section-gradient-shadow {
    top: 35.5em;
  }

  .hero-section-wrapper {
    top: 10em;
  }
}
