@use "../../ThemeProvider/variables" as theme-variable;

.landing-page-bg {
  background: theme-variable.$main-background-color;
  // background: #fff;
}

.landing-page-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;

  .content-divider {
    background: theme-variable.$modal-background-color;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 0.7em;
  }
}
