//Select Icon
.MuiSelect-icon {
  color: #fff !important;
}

//Focused Menu
.Mui-focusVisible {
  background: #555 !important;
}

//Text Label when Active
.MuiFormLabel-root {
  color: #fff !important;
}

//Select Border when Actice
.MuiFilledInput-root:after {
  border-bottom: none !important;
}
