@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");
#F {
  transform-origin: 30% center;
}

#F .helper-1 {
  width: 19.5%;
  height: 100%;
  background-color: rgba(228, 9, 19, 0.5);
  left: 22%;
  top: 0;
  transform: rotate(180deg);
  animation-name: fading-lumieres-box;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

#F .helper-1 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

#F .helper-1 .effect-brush [class*=fur-] {
  bottom: 0;
  height: 40%;
}

#F .helper-2 {
  width: 17.5%;
  height: 50%;
  left: 38%;
  top: -49px;
  transform: rotate(270deg);
  overflow: hidden;
}

#F .helper-2 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

#F .helper-3 {
  width: 17%;
  height: 39%;
  left: 33%;
  top: 29%;
  transform: rotate(-90deg);
  box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  animation-name: fading-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#F .helper-3 .effect-brush {
  animation-name: brush-moving;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

#container .filmflix-intro {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  animation-name: zoom-in;
  animation-delay: 0.5s;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background-size: 4000px;
  background-position: -1950px 0;
}

#container .filmflix-intro::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #000000;
  width: 150%;
  height: 30%;
  left: -25%;
  bottom: -27%;
  border-radius: 50%;
  z-index: 5;
  transform-origin: left center;
  background-size: 4000px;
  background-position: -1950px 0;
}

#container .filmflix-intro [class*=helper-] {
  position: absolute;
}

#container .filmflix-intro [class*=helper-] .effect-brush {
  position: absolute;
  width: 100%;
  height: 300%;
  top: 0;
  overflow: hidden;
}

#container .filmflix-intro [class*=helper-] .effect-brush::before {
  display: block;
  content: "";
  position: absolute;
  background-color: #e40913;
  width: 100%;
  height: 70%;
  box-shadow: 0px 0px 29px 24px #e40913;
}

#container .filmflix-intro [class*=helper-] .effect-brush [class*=fur-] {
  display: block;
  position: absolute;
  bottom: 10%;
  height: 30%;
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-1 {
  left: 0%;
  width: 3.8%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, transparent 81%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-2 {
  left: 3.8%;
  width: 2.8%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 10%, transparent 62%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-3 {
  left: 6.6%;
  width: 4.8%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-4 {
  left: 11.4%;
  width: 4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 23%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-5 {
  left: 15.4%;
  width: 4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, transparent 86%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-6 {
  left: 19.4%;
  width: 2.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, transparent 89%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-7 {
  left: 21.9%;
  width: 4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 20%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-8 {
  left: 25.9%;
  width: 2%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-9 {
  left: 27.9%;
  width: 4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 35%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-10 {
  left: 31.9%;
  width: 3.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-11 {
  left: 35.4%;
  width: 2%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-12 {
  left: 37.4%;
  width: 2.6%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 22%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-13 {
  left: 40%;
  width: 6%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-14 {
  left: 46%;
  width: 2%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 36%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-15 {
  left: 48%;
  width: 5.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 29%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-16 {
  left: 53.5%;
  width: 3%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-17 {
  left: 56.5%;
  width: 4.1%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 45%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-18 {
  left: 60.6%;
  width: 2.4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-19 {
  left: 63%;
  width: 4%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-20 {
  left: 67%;
  width: 1.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, transparent 95%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-21 {
  left: 68.5%;
  width: 2.8%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-22 {
  left: 71.3%;
  width: 2.3%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 9%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-23 {
  left: 73.6%;
  width: 2.2%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, transparent 92%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-24 {
  left: 75.8%;
  width: 1%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-25 {
  left: 76.8%;
  width: 2.1%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-26 {
  left: 78.9%;
  width: 4.1%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-27 {
  left: 83%;
  width: 2.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 21%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-28 {
  left: 85.5%;
  width: 4.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-29 {
  left: 90%;
  width: 2.8%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-30 {
  left: 92.8%;
  width: 3.5%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 19%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-brush .fur-31 {
  left: 96.3%;
  width: 3.7%;
  background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, transparent 100%);
}

#container .filmflix-intro [class*=helper-] .effect-lumieres {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: showing-lumieres;
  animation-duration: 2s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres [class*=lamp-] {
  position: absolute;
  display: block;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
  background: var(--color);
}

#container .filmflix-intro [class*=helper-] .effect-lumieres [class*=lamp-]::before {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color);
  box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-1 {
  --color: #ff0100;
  z-index: 6;
  left: 0.7%;
  width: 1%;
  animation-delay: 0.11s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-1::before {
  left: 71%;
  animation-delay: 1.68s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-2 {
  --color: #ffde01;
  left: 2.2%;
  width: 1.4%;
  animation-delay: 1.65s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-2::before {
  left: 97%;
  animation-delay: 1.03s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-3 {
  --color: #ff00cc;
  left: 5.8%;
  width: 2.1%;
  animation-delay: 1.7s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-3::before {
  left: 75%;
  animation-delay: 1.89s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-4 {
  --color: #04fd8f;
  left: 10.1%;
  width: 2%;
  animation-delay: 0.35s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-4::before {
  left: 90%;
  animation-delay: 0.32s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-5 {
  --color: #ff0100;
  left: 12.9%;
  width: 1.4%;
  animation-delay: 0.96s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-5::before {
  left: 159%;
  animation-delay: 0.69s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-6 {
  --color: #ff9600;
  left: 15.3%;
  width: 2.8%;
  animation-delay: 0.05s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-6::before {
  left: 149%;
  animation-delay: 1.59s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-7 {
  --color: #0084ff;
  left: 21.2%;
  width: 2.5%;
  animation-delay: 1.11s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-7::before {
  left: 149%;
  animation-delay: 1.98s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-8 {
  --color: #f84006;
  left: 25%;
  width: 2.5%;
  animation-delay: 0.4s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-8::before {
  left: 31%;
  animation-delay: 0.83s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-9 {
  --color: #ffc601;
  left: 30.5%;
  width: 3%;
  animation-delay: 0.28s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-9::before {
  left: 85%;
  animation-delay: 0.51s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-10 {
  --color: #ff4800;
  left: 36.3%;
  width: 3%;
  animation-delay: 1.94s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-10::before {
  left: 119%;
  animation-delay: 0.5s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-11 {
  --color: #fd0100;
  left: 41%;
  width: 2.2%;
  animation-delay: 1.62s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-11::before {
  left: 130%;
  animation-delay: 0.08s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-12 {
  --color: #01ffff;
  left: 44.2%;
  width: 2.6%;
  animation-delay: 1.14s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-12::before {
  left: 90%;
  animation-delay: 0.64s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-13 {
  --color: #ffc601;
  left: 51.7%;
  width: 0.5%;
  animation-delay: 0.48s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-13::before {
  left: 156%;
  animation-delay: 1.18s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-14 {
  --color: #ffc601;
  left: 52.1%;
  width: 1.8%;
  animation-delay: 0.38s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-14::before {
  left: 158%;
  animation-delay: 0.54s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-15 {
  --color: #0078fe;
  left: 53.8%;
  width: 2.3%;
  animation-delay: 1.23s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-15::before {
  left: 82%;
  animation-delay: 0.51s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-16 {
  --color: #0080ff;
  left: 57.2%;
  width: 2%;
  animation-delay: 1.34s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-16::before {
  left: 143%;
  animation-delay: 1.83s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-17 {
  --color: #ffae01;
  left: 62.3%;
  width: 2.9%;
  animation-delay: 0.37s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-17::before {
  left: 172%;
  animation-delay: 0.16s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-18 {
  --color: #ff00bf;
  left: 65.8%;
  width: 1.7%;
  animation-delay: 0.73s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-18::before {
  left: 87%;
  animation-delay: 0.35s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-19 {
  --color: #a601f4;
  left: 72.8%;
  width: 0.8%;
  animation-delay: 0.1s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-19::before {
  left: 158%;
  animation-delay: 0.76s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-20 {
  --color: #f30b34;
  left: 74.3%;
  width: 2%;
  animation-delay: 0.6s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-20::before {
  left: 72%;
  animation-delay: 1.7s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-21 {
  --color: #ff00bf;
  left: 79.8%;
  width: 2%;
  animation-delay: 0.06s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-21::before {
  left: 59%;
  animation-delay: 0.35s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-22 {
  --color: #04fd8f;
  left: 78.2%;
  width: 2%;
  animation-delay: 1.31s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-22::before {
  left: 134%;
  animation-delay: 0.71s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-23 {
  --color: #01ffff;
  left: 78.5%;
  width: 2%;
  animation-delay: 1.04s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-23::before {
  left: 169%;
  animation-delay: 1.41s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-24 {
  --color: #a201ff;
  left: 85.3%;
  width: 1.1%;
  animation-delay: 0.39s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-24::before {
  left: 184%;
  animation-delay: 1.71s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-25 {
  --color: #ec0014;
  left: 86.9%;
  width: 1.1%;
  animation-delay: 1.22s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-25::before {
  left: 78%;
  animation-delay: 1.78s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-26 {
  --color: #0078fe;
  left: 88.8%;
  width: 2%;
  animation-delay: 0.21s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-26::before {
  left: 47%;
  animation-delay: 1.32s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-27 {
  --color: #ff0036;
  left: 92.4%;
  width: 2.4%;
  animation-delay: 1.26s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-27::before {
  left: 1%;
  animation-delay: 0.17s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-28 {
  --color: #06f98c;
  left: 96.2%;
  width: 2.1%;
  animation-delay: 1.22s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-28::before {
  left: 63%;
  animation-delay: 0.78s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-1,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-3,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-5,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-7,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-9,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-11,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-13,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-15,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-17,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-19,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-21,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-23,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-25,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-27 {
  animation-name: lumieres-moving-left;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-1::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-3::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-5::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-7::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-9::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-11::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-13::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-15::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-17::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-19::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-21::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-23::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-25::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-27::before {
  animation-name: lumieres-moving-left;
  animation-duration: 5.5s;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-2,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-4,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-6,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-8,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-10,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-12,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-14,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-16,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-18,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-20,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-22,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-24,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-26,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-28 {
  animation-name: lumieres-moving-right;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-2::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-4::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-6::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-8::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-10::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-12::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-14::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-16::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-18::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-20::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-22::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-24::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-26::before,
#container .filmflix-intro [class*=helper-] .effect-lumieres .lamp-28::before {
  animation-name: lumieres-moving-right;
  animation-duration: 5.5s;
}

@keyframes brush-moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lumieres-moving-right {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-10px) scaleX(1);
  }
  50% {
    transform: translate(-60px);
  }
  100% {
    transform: translate(-120px) scaleX(3);
  }
}
@keyframes lumieres-moving-left {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(10px) scaleX(1);
  }
  50% {
    transform: translate(60px);
  }
  100% {
    transform: translate(120px) scaleX(3);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(15);
  }
}
@keyframes showing-lumieres {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fading-lumieres-box {
  0% {
    background-color: rgba(228, 9, 19, 0.5);
  }
  100% {
    background-color: rgba(228, 9, 19, 0);
  }
}
.animation-background {
  background: radial-gradient(#fff, #aaa);
  background-size: 100vw 100vh;
  overflow: hidden;
  padding-top: 40vh;
  height: 100vh;
}

.txt {
  text-align: center;
  font-family: "Roboto";
  font-size: 12vmin;
  font-weight: 700;
  animation: netflix_style 3.7s infinite;
  outline: none;
  white-space: nowrap;
  user-select: none;
}

@keyframes netflix_style {
  0% {
    text-shadow: 0px 0px transparent, 1px 1px #aaa, 2px 2px #aaa, 3px 3px #aaa, 4px 4px #aaa, 5px 5px #aaa, 6px 6px #aaa, 7px 7px #aaa, 8px 8px #aaa, 9px 9px #aaa, 10px 10px #aaa, 11px 11px #aaa, 12px 12px #aaa, 13px 13px #aaa, 14px 14px #aaa, 15px 15px #aaa, 16px 16px #aaa, 17px 17px #aaa, 18px 18px #aaa, 19px 19px #aaa, 20px 20px #aaa, 21px 21px #aaa, 22px 22px #aaa, 23px 23px #aaa, 24px 24px #aaa, 25px 25px #aaa, 26px 26px #aaa, 27px 27px #aaa, 28px 28px #aaa, 29px 29px #aaa, 30px 30px #aaa, 31px 31px #aaa, 32px 32px #aaa, 33px 33px #aaa, 34px 34px #aaa, 35px 35px #aaa, 36px 36px #aaa, 37px 37px #aaa, 38px 38px #aaa, 39px 39px #aaa, 40px 40px #aaa, 41px 41px #aaa, 42px 42px #aaa, 43px 43px #aaa, 44px 44px #aaa, 45px 45px #aaa, 46px 46px #aaa, 47px 47px #aaa, 48px 48px #aaa, 49px 49px #aaa, 50px 50px #aaa, 51px 51px #aaa, 52px 52px #aaa, 53px 53px #aaa, 54px 54px #aaa, 55px 55px #aaa, 56px 56px #aaa, 57px 57px #aaa, 58px 58px #aaa, 59px 59px #aaa, 60px 60px #aaa, 61px 61px #aaa, 62px 62px #aaa, 63px 63px #aaa, 64px 64px #aaa, 65px 65px #aaa, 66px 66px #aaa, 67px 67px #aaa, 68px 68px #aaa, 69px 69px #aaa, 70px 70px #aaa, 71px 71px #aaa, 72px 72px #aaa, 73px 73px #aaa, 74px 74px #aaa, 75px 75px #aaa, 76px 76px #aaa, 77px 77px #aaa, 78px 78px #aaa, 79px 79px #aaa, 80px 80px #aaa, 81px 81px #aaa, 82px 82px #aaa, 83px 83px #aaa, 84px 84px #aaa, 85px 85px #aaa, 86px 86px #aaa, 87px 87px #aaa, 88px 88px #aaa, 89px 89px #aaa, 90px 90px #aaa, 91px 91px #aaa, 92px 92px #aaa, 93px 93px #aaa, 94px 94px #aaa, 95px 95px #aaa, 96px 96px #aaa, 97px 97px #aaa, 98px 98px #aaa, 99px 99px #aaa, 100px 100px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: 0px 0px transparent, 1px 1.5px #aaa, 2px 3px #aaa, 3px 4.5px #aaa, 4px 6px #aaa, 5px 7.5px #aaa, 6px 9px #aaa, 7px 10.5px #aaa, 8px 12px #aaa, 9px 13.5px #aaa, 10px 15px #aaa, 11px 16.5px #aaa, 12px 18px #aaa, 13px 19.5px #aaa, 14px 21px #aaa, 15px 22.5px #aaa, 16px 24px #aaa, 17px 25.5px #aaa, 18px 27px #aaa, 19px 28.5px #aaa, 20px 30px #aaa, 21px 31.5px #aaa, 22px 33px #aaa, 23px 34.5px #aaa, 24px 36px #aaa, 25px 37.5px #aaa, 26px 39px #aaa, 27px 40.5px #aaa, 28px 42px #aaa, 29px 43.5px #aaa, 30px 45px #aaa, 31px 46.5px #aaa, 32px 48px #aaa, 33px 49.5px #aaa, 34px 51px #aaa, 35px 52.5px #aaa, 36px 54px #aaa, 37px 55.5px #aaa, 38px 57px #aaa, 39px 58.5px #aaa, 40px 60px #aaa, 41px 61.5px #aaa, 42px 63px #aaa, 43px 64.5px #aaa, 44px 66px #aaa, 45px 67.5px #aaa, 46px 69px #aaa, 47px 70.5px #aaa, 48px 72px #aaa, 49px 73.5px #aaa, 50px 75px #aaa, 51px 76.5px #aaa, 52px 78px #aaa, 53px 79.5px #aaa, 54px 81px #aaa, 55px 82.5px #aaa, 56px 84px #aaa, 57px 85.5px #aaa, 58px 87px #aaa, 59px 88.5px #aaa, 60px 90px #aaa, 61px 91.5px #aaa, 62px 93px #aaa, 63px 94.5px #aaa, 64px 96px #aaa, 65px 97.5px #aaa, 66px 99px #aaa, 67px 100.5px #aaa, 68px 102px #aaa, 69px 103.5px #aaa, 70px 105px #aaa, 71px 106.5px #aaa, 72px 108px #aaa, 73px 109.5px #aaa, 74px 111px #aaa, 75px 112.5px #aaa, 76px 114px #aaa, 77px 115.5px #aaa, 78px 117px #aaa, 79px 118.5px #aaa, 80px 120px #aaa, 81px 121.5px #aaa, 82px 123px #aaa, 83px 124.5px #aaa, 84px 126px #aaa, 85px 127.5px #aaa, 86px 129px #aaa, 87px 130.5px #aaa, 88px 132px #aaa, 89px 133.5px #aaa, 90px 135px #aaa, 91px 136.5px #aaa, 92px 138px #aaa, 93px 139.5px #aaa, 94px 141px #aaa, 95px 142.5px #aaa, 96px 144px #aaa, 97px 145.5px #aaa, 98px 147px #aaa, 99px 148.5px #aaa, 100px 150px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
    color: #f3f3f3;
  }
  20% {
    color: #e90418;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color: #e90418;
    transform: scale(0.85, 0.9);
  }
  100% {
    opacity: 0;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.swiper-container .swiper-button-next:after {
  color: #ffffff !important;
  transform: translateX(50vh);
  transition: transform 0.5s ease-in-out;
  font-weight: bold;
}
.swiper-container .swiper-button-prev:after {
  color: #ffffff !important;
  transform: translateX(-50vh);
  transition: transform 0.5s ease-in-out;
  font-weight: bold;
}
.swiper-container:hover .swiper-button-next:after {
  transform: translateX(0vh);
}
.swiper-container:hover .swiper-button-prev:after {
  transform: translateX(0vh);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.swiper-slide:hover {
  transform: scale(1.2);
  position: relative;
  z-index: 2;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MuiSkeleton-pulse {
  width: 100% !important;
}

.MuiCircularProgress-colorPrimary {
  color: #e50914 !important;
}

.MuiMenu-paper {
  background: #303030 !important;
}

.MuiList-padding {
  padding: 0.5em 0em !important;
  box-shadow: none !important;
  background: #303030 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.MuiListItem-root.Mui-selected {
  background: #555 !important;
}

.MuiListItem-root:hover {
  background: #555 !important;
}

.MuiSelect-iconFilled {
  fill: #fff !important;
}

@keyframes loadinganim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.profile-loader-image {
  display: grid;
  place-items: center;
  height: 100vh;
  position: fixed;
  width: 100%;
}

#loading-wrapper {
  background: #000000;
  height: 100vh;
  color: #e50914;
  text-align: center;
  display: table;
  width: 100%;
  position: fixed;
  transform: scale(2.5);
}
#loading-wrapper #loading {
  display: table-cell;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  vertical-align: middle;
  font-family: helvetica, sans-serif;
}
#loading-wrapper #loading .bulletouter {
  animation: loadinganim 1s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  width: 50px;
  height: 50px;
  background: #e50914;
  border-radius: 50%;
  margin: 0 auto;
}
#loading-wrapper #loading .bulletouter .bulletinner {
  position: relative;
  left: -5px;
  width: 45px;
  height: 45px;
  background: #000000;
  border-radius: 50%;
  margin: 0 auto;
}
#loading-wrapper #loading .bulletouter .mask {
  position: relative;
  left: -5px;
  top: -15px;
  width: 50px;
  height: 25px;
  background: #000000;
  transform: rotate(45deg);
}
#loading-wrapper #loading .bulletouter .dot {
  position: relative;
  left: 33px;
  top: -32px;
  width: 8px;
  height: 8px;
  background: #e50914;
  border-radius: 50%;
}

@keyframes loadinganim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#main-loading-wrapper {
  background: #000000;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  display: table;
  width: 100%;
}
#main-loading-wrapper #main-loading {
  display: table-cell;
  width: 100%;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#main-loading-wrapper #main-loading .main-loading-web-logo {
  position: relative;
  max-width: 25em;
  margin-top: -2em;
  margin-bottom: -1.7em;
}
#main-loading-wrapper #main-loading .main-loading-bulletouter {
  animation: loadinganim 1s infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  width: 50px;
  height: 50px;
  background: #e50914;
  border-radius: 50%;
  margin: 0 auto;
}
#main-loading-wrapper #main-loading .main-loading-bulletouter .main-loading-bulletinner {
  position: relative;
  left: -5px;
  width: 45px;
  height: 45px;
  background: #000000;
  border-radius: 50%;
  margin: 0 auto;
}
#main-loading-wrapper #main-loading .main-loading-bulletouter .main-mask {
  position: relative;
  left: -5px;
  top: -15px;
  width: 50px;
  height: 25px;
  background: #000000;
  transform: rotate(45deg);
}
#main-loading-wrapper #main-loading .main-loading-bulletouter .main-dot {
  position: relative;
  left: 33px;
  top: -32px;
  width: 8px;
  height: 8px;
  background: #e50914;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 13px;
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #757575;
  background: #ed213a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #93291e, #ed213a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93291e, #ed213a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
::-webkit-scrollbar-thumb:hover {
  background: #f73b45;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=globals.css.map */
